@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap');
body{
    font-family: Sarabun;

}
.container{
    margin: 50px 0;
}

.number{
    font-weight: bold;
}
.card{
    margin: 0 2% !important;
    width: 350px;
    height: 200px;
}

.infected{
    border-left: 10px solid rgba(255, 0, 0, 0.8);
}

.recovered{
    border-left: 10px solid rgba(0, 255, 0, 0.8);
}
.deaths{
    border-left: 10px solid rgb(87, 87, 87);
}

@media (max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}